<!DOCTYPE html>
<html itemscope itemtype="http://schema.org/Blog">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta itemprop="name" content="{{ site.name }}" />
    <meta itemprop="url" content="{{ site.url }}" />
    <meta itemprop="genre" content="Personal" />

    <title>{% if page.title %} {{ page.title }} | {% endif %} {{ site.name }}</title>

    <link rel="shortcut icon" href="/favicon.ico" />
    <link rel="stylesheet" href="/build/style.css" type="text/css" media="screen">
  </head>
  <body>
    <div class="container-fluid">
      <h1 class="site-name">{{ site.name }}</h1>
    </div>

    <div id="navigation">
      <div class="container-fluid">
        <ul class="list-inline list-unstyled">
          <li><a href="/">About</a></li>
          <li><a href="https://github.com/micthiesen">GitHub</a></li>
        </ul>
      </div>
    </div>

    <div class="container-fluid">
      {% if page.title %}
      <h3 class="text-muted">{{ page.title }}</h3>
      {% endif %}
      {{ content }}
    </div>

    <!-- JavaScript files -->
    <script src="/build/js/jquery.min.js"></script>
    <script src="/build/js/bootstrap.min.js"></script>
    <script src="/scripts.js"></script>
  </body>
</html>
