---
navigation:
  - text: Home
    url: /
  - text: Social
    items:
      - text: Blog
        url: http://superblogii.wordpress.com/
      - text: Facebook
        url: https://www.facebook.com/ubcst
      - text: Twitter
        url: https://twitter.com/UBCSupermileage
      - text: YouTube
        url: http://www.youtube.com/user/UBCSupermileageTeam
      - text: Flickr
        url: http://www.flickr.com/photos/ubcst/
  - text: Events
    items:
      - text: Calendar
        url: /events/
      - text: Past Events
        url: /events/past-events.html
      - text: Urban Concept Results
        url: /events/urban-concept-results.html
      - text: Prototype Results
        url: /events/prototype-results.html
  - text: Vehicles
    items:
      - text: Urban Concept
        url: /vehicles/urban-concept.html
      - text: Prototype
        url: /vehicles/prototype.html
      - text: Previous Vehicles
        url: /vehicles/previous.html
  - text: Sponsors
    items:
      - text: Sponsors
        url: /sponsors/
      - text: Become a Sponsor
        url: /sponsors/become-a-sponsor.html
  - text: Media
    items:
      - text: In The Media
        url: /media/
      - text: Press Release
        url: /media/press-release.html
      - text: Photos and Media
        url: /media/photos.html
  - text: About
    items:
      - text: What is Supermileage?
        url: /about/
      - text: FAQ
        url: /about/faq.html
      - text: Team
        url: /about/team.html
      - text: Join Us
        url: /about/join.html
      - text: Links
        url: /about/links.html
  - text: Contact Us
    url: /contact.html
  - text: Donate
    url: https://www.donate.startanevolution.ca/ea-action/action?ea.client.id=1730&ea.campaign.id=19413&Direct%20my%20Gift%20to%20Module=SAE%20Supermileage%20Team%20O961
sponsors:
  - name: Shell
    link: http://shell.ca
    logo: /images/logos/shell.gif
  - name: UBC
    link: http://ubc.ca
    logo: /images/logos/ubc.png
  - name: SOLIDWORKS
    link: http://www.solidworks.com/
    logo: /images/logos/solidworks.png
  - name: UBC Mechanical Engineering
    link: http://mech.ubc.ca/
    logo: /images/logos/ubc-mechanical-engineering.png
  - name: Financial Strategies
    link: http://www.fsfinancialstrategies.ca/
    logo: /images/logos/fs.png
  - name: Knighthill
    link: http://knighthill.com/
    logo: /images/logos/knighthill.png
  - name: ZABER
    link: http://www.zaber.com/
    logo: /images/logos/zaber.png
  - name: Sensiron
    link: http://www.sensirion.com/en/home/
    logo: /images/logos/sensirion.png
  - name: intergulf
    link: http://intergulf.com/commodities/084/index.html
    logo: /images/logos/intergulf.jpg
  - name: vorum
    link: http://www.vorum.com/english/
    logo: /images/logos/vorum.jpg
  - name: CRN
    link: http://crn.ubc.ca/
    logo: /images/logos/crn.jpg
  - name: AVCORP
    link: http://www.avcorp.com/
    logo: /images/logos/avcorp.png
  - name: Fiber-Tek
    link: http://www.fibertek.ca/
    logo: /images/logos/fiber-tek.gif
  - name: APEGBC
    link: https://www.apeg.bc.ca/Home
    logo: /images/logos/apegbc.png
  - name: Soller Composites
    link: http://www.sollercomposites.com/
    logo: /images/logos/soller-composites.jpg
  - name: Fluor
    link: http://www.fluor.com/canada
    logo: /images/logos/fluor.jpg
  - name: Honda
    link: http://www.honda.ca/
    logo: /images/logos/honda.png
  - name: Max Torque
    link: http://www.maxtorque.com/
    logo: /images/logos/max-torque.png
  - name: Formsprag
    link: http://www.formsprag.com/
    logo: /images/logos/formsprag.jpg
  - name: AMS Sustainability
    link: http://amssustainability.ca/
    logo: /images/logos/ams-sustainability.png
---

<!DOCTYPE html>
<html itemscope itemtype="http://schema.org/Blog">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="theme-color" content="#2F5D7C" />
    <meta itemprop="name" content="{{ site.name }}" />
    <meta itemprop="url" content="{{ site.url }}" />
    <meta itemprop="genre" content="Engineering" />

    <title>{% if page.title %} {{ page.title }} | {% endif %} {{ site.name }}</title>

    <link rel="shortcut icon" href="/favicon.ico" />
    <link rel="stylesheet" href="/build/style.css" type="text/css" media="screen" />
  </head>
  <body>
    <header
      id="header"
      class="jumbotron"
      style="background: url(/images/default-header.jpg) no-repeat center / cover;"
      >
      <div class="container-fluid">
        <h2 id="header-title" class="text-center text-nowrap">
            <img src="/images/ubc-logo.svg" alt="UBC logo" />
            {{ site.name }}
        </h2>
        <p class="text-center">{{ site.description }}</p>
      </div>
    </header>

    <div id="navigation">
      <div class="container-fluid">
        <ul class="list-inline list-unstyled">
          {% assign url = page.url | remove:'index.html' %}
          {% for link in page.navigation %}
            {% if link.items %}
              <li class="dropdown">
                <span
                  class="dropdown-toggle cursor-action noselect"
                  type="button"
                  id="dropdown-{{ link.text }}"
                  data-toggle="dropdown"
                  aria-expanded="true"
                  >
                  {{ link.text }} <span class="caret"></span>
                </span>
                <ul
                  class="dropdown-menu"
                  role="menu"
                  aria-labelledby="dropdown-{{ link.text }}"
                  >
                  {% for item in link.items %}
                  <li role="presentation">
                    <a href="{{ item.url }}" role="menuitem" tabindex="-1">{{ item.text }}</a>
                  </li>
                  {% endfor %}
                </ul>
              </li>
            {% else %}
              <li {% if url == link.url %}class="active"{% endif %}>
                <a href="{{ link.url }}">{{ link.text }}</a>
              </li>
            {% endif %}
          {% endfor %}
        </ul>
      </div>
    </div>

    <div id="main-content" class="container-fluid">
      <div class="row">
        <div id="page-content" class="col-md-9">
          {% if page.title and page.fullcalendar != true %}
            <h2>{{ page.title }}</h2>
          {% endif %}
          {{ content }}
        </div>
        <div id="sidebar" class="col-md-3">
          <h3 class="text-center" id="sidebar-title">Sponsors</h3>
          {% for sponsor in page.sponsors %}
            <p class="text-center">
              <a href="{{ sponsor.link }}" target="_blank">
                <img
                  src="{{ sponsor.logo }}"
                  alt="{{ sponsor.name }}"
                  title="{{ sponsor.name }}"
                  />
              </a>
            </p>
          {% endfor %}
        </div>
      </div>
    </div>

    <!-- JavaScript files -->
    <script src="/build/js/jquery.min.js"></script>
    <script src="/build/js/bootstrap.min.js"></script>
    {% if page.fullcalendar == true %}
      <script src="/build/js/moment.min.js"></script>
      <script src="/build/js/fullcalendar.min.js"></script>
      <script src="/build/js/gcal.js"></script>
      <script src="/js/calendar.js"></script>
    {% endif %}
    <script src="/scripts.js"></script>
    {% include analytics.html %}
  </body>
</html>
