---
navigation:
  - text: Home
    url: /
  - text: About
    url: /about.html
  - text: Dropdown
    items:
      - text: Item 1
        url: /item1.html
      - text: Item 2
        url: /item2.html
sponsors:
  - name: Shell
    link: http://shell.ca
    logo: http://www.logodesignlove.com/images/evolution/shell-logo-design.gif
  - name: UBC
    link: http://ubc.ca
    logo: http://brand.ubc.ca/files/2012/07/UBCLogo1.jpg
---

<!DOCTYPE html>
<html itemscope itemtype="http://schema.org/Blog">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="theme-color" content="#2F5D7C" />
    <meta itemprop="name" content="{{ site.name }}" />
    <meta itemprop="url" content="{{ site.url }}" />
    <meta itemprop="genre" content="Engineering" />

    <title>{% if page.title %} {{ page.title }} | {% endif %} {{ site.name }}</title>

    <link rel="shortcut icon" href="/favicon.ico" />
    <link rel="stylesheet" href="/build/style.css" type="text/css" media="screen" />
  </head>
  <body>
    <header
      id="header"
      class="jumbotron"
      style="background: url(/images/default-header.jpg) no-repeat center / cover;"
      >
      <div class="container-fluid">
        <h2 id="header-title" class="text-center text-nowrap">
            <img src="/images/ubc-logo.svg" alt="UBC logo" />
            {{ site.name }}
        </h2>
        <p class="text-center">{{ site.description }}</p>
      </div>
    </header>

    <div id="navigation">
      <div class="container-fluid">
        <ul class="list-inline list-unstyled">
          {% assign url = page.url | remove:'index.html' %}
          {% for link in page.navigation %}
            {% if link.items %}
              <li class="dropdown">
                <span
                  class="dropdown-toggle cursor-action noselect"
                  type="button"
                  id="dropdown-{{ link.text }}"
                  data-toggle="dropdown"
                  aria-expanded="true"
                  >
                  {{ link.text }} <span class="caret"></span>
                </span>
                <ul
                  class="dropdown-menu"
                  role="menu"
                  aria-labelledby="dropdown-{{ link.text }}"
                  >
                  {% for item in link.items %}
                  <li role="presentation">
                    <a href="{{ item.url }}" role="menuitem" tabindex="-1">{{ item.text }}</a>
                  </li>
                  {% endfor %}
                </ul>
              </li>
            {% else %}
              <li {% if url == link.url %}class="active"{% endif %}>
                <a href="{{ link.url }}">{{ link.text }}</a>
              </li>
            {% endif %}
          {% endfor %}
        </ul>
      </div>
    </div>

    <div id="main-content" class="container-fluid">
      <div class="row">
        <div class="col-md-9">
          {% if page.title %}
            <h3>{{ page.title }}</h3>
          {% endif %}
          {{ content }}
        </div>
        <div class="col-md-3">
          <h4 class="text-center" id="sidebar-title">Sponsors</h4>
          {% for sponsor in page.sponsors %}
            <p class="text-center">
              <a href="{{ sponsor.link }}">
                <img
                  class="sponsor-logo"
                  src="{{ sponsor.logo }}"
                  alt="{{ sponsor.name }}"
                  title="{{ sponsor.name }}"
                  />
              </a>
            </p>
          {% endfor %}
        </div>
      </div>
    </div>

    <!-- JavaScript files -->
    <script src="/build/js/jquery.min.js"></script>
    <script src="/build/js/bootstrap.min.js"></script>
    <script src="/scripts.js"></script>
    {% include analytics.html %}
  </body>
</html>
