---
layout: default
---

<article>
  <div class="post">
    <p class="text-muted">{{ page.date | date: site.dateformat }}</p>
    {{ content }}
  </div>
</article>

<div id="disqus_thread"></div>
<script type="text/javascript">
    /* configuration variables */
    var disqus_shortname = 'micthiesen';

    /* don't edit below this line */
    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
